@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie:regular);
@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import "compass/css3";

body {
  font-family: 'Droid Serif';
  text-align: justify;

}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}
.remark-slide-content {
  background-position:0px 600px;
  background-repeat: no-repeat;
}
.remark-slide-content blockquote {
  color:#cc4f14; 
  font-size: 1em; 
  text-align: end; 
  font-style: oblique; 
  font-weight: bold; 
}
.remark-slide-number {
  color: rgb(24, 44, 87); 
  opacity: 0.5;
}
.remark-slide-content h1 { 
  font-size: 2.2em; 
  color:#0098cd; 
  text-shadow: 0 0 8px #777872; 
  border-bottom: groove; 
  padding-bottom: 0.5em;
}
.remark-slide-content h2 { 
  font-size: 1.6em; 
  color:#2e5868; 
  text-shadow: 0 0 5px #777872;
}
.remark-slide-content h3 { 
  font-size: 1.2em; 
  color:#117397; 
  text-shadow: 0 0 3px #777872;
}

.footnote {
  position: absolute;
  bottom: 3em;
}

.danger {
  background: #e5be01;
  border-radius: 5px;
  color:#cd0000;
  padding: 3px;
}

.destacado {
  color:#cd0000;
  font-size: 4em;
  padding: 0.5em;
  width: 100%;
}

li { margin-bottom: 15px; list-style-image: url("../media/li.png")}

li li { font-style: italic; margin-bottom: 5px}

li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }

a, a > code {
  color: rgb(66, 140, 201);
  text-decoration: none;
}
code {
  background: #e7e8e2;
  border-radius: 5px;

}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background-image: url("../media/fondo.png");
  background-position:0px 0px;
  background-repeat: no-repeat;
  background-color:#ffffff;
  color: #0963bd;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: rgb(66, 140, 201);
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  width: 48%;
  float: left;
  padding-right: 10px;
  border-right: #000 solid 1px;
}

.right-column {
  width: 48%;
  float: right;
}

.img-column {
  color: #777;
  width: 50%;
  height: 92%;
  float: left;
}

.text-column {
  width: 45%;
  float: right;
  padding-top: 1em;
}

.nota {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:1.2em;
  color:#9b0606;
  border:1px solid #000;
  background-color: #f0e3a6;
  padding: 5px;
  border-top-right-radius: 12px;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  float: right;
  margin: 30px;
  width: 30%;
  min-height: 100px;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.nota-img {
  padding: 5px;
  border-radius: 5px;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  float: right;
  margin: 30px;
  min-width: 30%;
  min-height: 100px;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.nota_destacada {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:1.5em;
  color:#f7f7f4;
  font-weight: 500;
  text-align: end;
  border:2px solid #000;
  background-color: #f8491d;
  padding: 5px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  float: right;
  margin: 10px;
  width: 30%;
  min-height: 100px;
  -webkit-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
}

.nota_normal {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:1em;
  color:#9b0606;
  border:1px solid #000;
  background-color: #f0e3a6;
  padding: 5px;
  border-top-right-radius: 12px;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  float: right;
  margin: 10px;
  width: 25%;
  min-height: 100px;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.nota_destacada ul li {
  text-align: left;
  margin-bottom: 2px
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}

img[alt="reducida"] {
  max-width:  450px;
  display: block;
  margin: auto;
}

img[alt="intermedia"] {
  max-width:  600px;
  display: block;
  margin: auto;
}

img[alt="peque"] {
  max-width:  400px;
  display: block;
  margin: auto;
}

img[alt="mini"] {
  max-width:  300px;
  display: block;
  margin: auto;
}

img[alt="nano"] {
  max-width:  150px;
  display: block;
  margin: auto;
}

.reducido {
  font-size: small;
}
.remark-slide-content table {
   width: 100%;
   border: 1px solid rgb(96, 117, 235);
   background-color: #c7e9eb;
   padding: 5px;
   margin: 1em 0.2em;
}
.remark-slide-content tr {
  border: 1px solid;
}
.remark-slide-content th, td {
   text-align: left;
   font-size: 0.8em;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
   background-color: azure;
}
.remark-slide-content th {
   background: rgb(114, 116, 119);
   color: floralwhite;
}
.post-it-note {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:1.8em;
  color:#9b0606;
  border:1px solid #000;
  background-color: #f0e3a6;
  padding: 5px;
  border-top-right-radius: 12px;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  float: right;
  margin: 10px;
  width: 25%;
  min-height: 100px;
  -webkit-transform:rotate(4deg);
  -o-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
}

.post-it-note-huge {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:1.8em;
  color:#f3f6fa;
  border:1px solid #000;
  background-color: #1f665c;
  padding: 5px;
  border-top-right-radius: 12px;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  float: right;
  margin: 10px;
  width: 75%;
  min-height: 100px;
  -webkit-transform:rotate(-4deg);
  -o-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
}

